<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Input</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Data Input Form</h1>
        <form method="post" action="/submit" class="mt-3">
            <div class="form-group">
                <label for="rank">เงินในกระเป๋า:</label>
                <select name="rank" class="form-control" required>
                    <option value="Low">จน</option>
                    <option value="Medium">กลาง</option>
                    <option value="High">รวย</option>
                </select>
            </div>

            <div class="form-group">
                <label for="hospital_rank">ประเภทโรงพยาบาล:</label>
                <select name="hospital_rank" class="form-control" required>
                    <option value="Public">รัฐบาล</option>
                    <option value="Private">เอกชน</option>
                </select>
            </div>

            <div class="form-group">
                <label for="hospital_area">ที่ตั้งโรงพยาบาล:</label>
                <select name="hospital_area" class="form-control" required>
                    <option value="City">ในเมือง</option>
                    <option value="Rural">นอกเมือง</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="icd10">icd10:</label>
                <select name="icd10" class="form-control" required>
                    <option value="K35.80">Unspecified appendicitis</option>
                    <option value="K35.81">K35.81 | Acute appendicitis with rupture</option>          
                </select>
            </div>

            <div class="form-group">
                <label for="icd9">icd9:</label>
                <select name="icd9" class="form-control" required>
                    <option value="Open">ผ่าตัดธรรมดา</option>
                    <option value="Laparoscopic">ผ่าตัดส่องกล้อง</option>
                </select>
            </div>

            <div class="form-group">
                <label for="days">จำนวนวันในการรักษา:</label>
                <input type="number" name="days" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="age">อายุ:</label>
                <input type="number" name="age" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="cost"> ค่าใช้จ่าย (฿):</label>
                <input type="number" name="cost" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% if result %}
            <div class="mt-4">
                <p><span style="color: {{ 'green' if result.rank_pass else 'red' }}">{{ result.word }}</span></p>
            </div>
        {% endif %}

    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
